
ion-card {
background: #fff !important;
}
.selected{
    background-color: #845899 !important;
}
ion-checkbox{
    position: relative;
    margin-right: -70px;
    margin-top: 5px;
}
ion-card-content {
    text-align: center;
}

.mensaje{
    top: 20px !important;
    text-align: center !important;
    color: #fff !important;
    font-weight: bold;
}