
<ion-content color="mycolor2">
<ion-grid fixed>
  <ion-row>
    <ion-col>
      <ion-label color="texto"> <h1>  Niveles</h1></ion-label>
   
    </ion-col>
  </ion-row>
</ion-grid>

<ion-list color="mycolor2"  class="ion-no-border" class="ion-no-padding">
<ion-item *ngFor="let nivel of niveles " color="mycolor2">
  <ion-label color="texto">{{nivel.nivel}}</ion-label>
  <ion-icon slot="start" name="botella"></ion-icon>
  <ion-checkbox slot="end" [(ngModel)]="nivel.selected"></ion-checkbox>
</ion-item>
</ion-list>
<ion-label color="danger">{{txtMostrar}}</ion-label>
<button expand="block" (click)="cargarPartida()"   class="btn-3d">Empezar a jugar</button>
</ion-content>
