
ion-card {
background: #a511ad;
}
.selected{
    background-color: #60157a !important;
}
ion-checkbox{
    position: relative;
    margin-right: -70px;
    margin-top: 5px;
}
ion-card-content {
    text-align: center;
}