
.info {
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%; 
  }
.slide-full {
    height: 100% !important;
    position: relative;
  
}
.imgBotella{ 
    position:absolute;
    height:30%;
    width:30%;
    margin-left: 25.5%;
    margin-top: 60%;
    left : 40px;
    z-index: 1;
}
.ruleta{
    position:absolute;
    height:60%;
    width:80%;
    margin-left:10%;
    margin-top: 35%;
    z-index: -1;
}
.verdad{
    position:absolute;
    height:30%;
    width:30%;
    margin-left: 25.5%;
    margin-top: 60%;
    left : 40px;
    z-index: 1;
    transform: rotate(12deg) !important;
}
.desafio{
    position:absolute;
    height:30%;
    width:30%;
    margin-left: 25.5%;
    margin-top: 60%;
    left : 40px;
    z-index: 1;
    transform: rotate(150deg) !important;
}
.rotarImagen{
    position:absolute;
    height:30%;
    width:30%;
    margin-left: 25.5%;
    margin-top: 60%;
    left : 40px;
    z-index: 1;
   -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite ;
    animation: spin 1s linear infinite;
    
}
/*para rotacion*/
@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
label{
    color: #fff;
}
ion-card {
    overflow: unset !important;
    background: #845899;
}

ion-card {
    position: fixed;
    height: 300px;
    width: 300px;
}
.ion-card {
    position: fixed;
    height: 250px;
    width: 250px;
}
.tipo{
    top: -300px;
}


.slide-image {
    width: 150px;
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: -100px;
}

.slide-image2 {
    width: 250px;
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: -170px;
}
ion-card-header {
    position: relative;
    top: -50px;
}

ion-card-content {
    position: relative;
    top: -50px;
    height: 100px;
}

.avatar {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.btn-continuar{
    margin-top: 15px;
}