<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons 
    slot="start">
      <ion-back-button 
      defaultHref="/niveles"
      color="texto"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize"><label>Niveles</label></ion-title>
   
   <ion-button  slot="end" (click)="modalVerdadOReto()"fill="clear">
    <ion-icon color="texto" slot="icon-only" name="information-circle-outline"></ion-icon>
   </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content color="mycolor2">
  <app-carga *ngIf="ocultarSlider"></app-carga>


  <ion-slides pager="ios" class="slide-full" *ngIf="!ocultarSlider && !final">
    <ion-button class="info" slot="icon-only" >
      <ion-icon slot="start" name="information-circle"></ion-icon>
    </ion-button>
    <ion-slide>
    
     <ion-card mode="ios">
     
       <ion-img [src]="tipoImagen" class="slide-image2"></ion-img> 
       <ion-card-header >
       </ion-card-header>
       <br>
       <ion-card-content style=" margin-top: -170px;" >
        <label >  <h1>{{preguntaMostrar.pregunta}}</h1></label>
       </ion-card-content>
       <br>
        <button expand="block" (click)="Jugar()" style="margin-top: 70px;"   class="btn-3d">Siguiente</button>
     </ion-card> 
    </ion-slide>
  </ion-slides>
  <ion-slides pager="ios" class="slide-full" *ngIf="final">
    <ion-slide>
   
     <ion-card mode="ios" class="ion-card ">
     
       <ion-img [src]="tipoImagen" class="slide-image"></ion-img> 
       
       <ion-card-header >
        <ion-card-subtitle><label ><h3>Fin del juego</h3></label></ion-card-subtitle>
       </ion-card-header>
       <ion-card-content  style="margin-top: 70px;">
        <button expand="block" (click)="reiniciar()" style="margin-bottom: 20px;"    class="btn-3d">Reiniciar</button>
        <button expand="block" (click)="salir()"    class="btn-3d">Ir al inicio</button>
       </ion-card-content>
     </ion-card> 
    </ion-slide>
  </ion-slides>

</ion-content>

