
.info {
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
  }
.slide-full {
    height: 100% !important;
    position: relative;
  //  background-image: linear-gradient(to bottom, #051937, #0d3053, #144971, #19648f, #1d80ac);
}
label{
    color: #fff;
}
ion-card {
    overflow: unset !important;
    background: #845899;
}

ion-card {
    position: fixed;
    height: 300px;
    width: 300px;
}
.ion-card {
    position: fixed;
    height: 250px;
    width: 250px;
}
.tipo{
    top: -300px;
}
.slide-image {
    width: 150px;
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: -50px;
}
.slide-image2 {
    width: 250px;
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: -170px;
}
ion-card-header {
    position: relative;
    top: -50px;
}

ion-card-content {
    position: relative;
    top: -50px;
    height: 100px;
}

.avatar {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.btn-continuar{
    margin-top: 15px;
}