
.info {
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%; 
  }
.slide-full {
    height: 100% !important;
    position: relative;
  
}
.imgBotella{ 
    height:30%;
    width:30%;
    position: absolute;
    top: 25%;
}
.rotarImagen{
    position:absolute;
    height:30%;
    width:30%;
    top: 25%;
   -webkit-animation: spin 0.5s linear infinite;
    -moz-animation: spin 0.5s linear infinite ;
    animation: spin 0.5s linear infinite;
    
}
.ruleta{
    padding-top: 30%;
    height:500px;
    width: 500px;
    
  
}
.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.verdad1{
    position:absolute;
    height:30%;
    width:30%;
    top: 25%;
    transform: rotate(12deg) !important;
}
.verdad4{
    position:absolute;
    height:30%;
    width:30%;
    top: 25%;
    transform: rotate(100deg) !important;
}
.verdad4{
    position:absolute;
    height:30%;
    width:30%;
    top: 25%;
    transform: rotate(100deg) !important;
}
.desafio1{
    position:absolute;
    height:30%;
    width:30%;
    top: 25%;
    transform: rotate(45deg) !important;
}
.desafio2{
    position:absolute;
    height:30%;
    width:30%;
    top: 25%;
    transform: rotate(350deg) !important;
}
.desafio4{
    position:absolute;
    height:30%;
    width:30%;
    top: 25%;
    transform: rotate(150deg) !important;
}

/*para rotacion*/
@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
label{
    color: #fff;
}
ion-card {
    overflow: unset !important;
    background: #845899;
}

ion-card {
    position: fixed;
    height: 300px;
    width: 300px;
}
.ion-card {
    position: fixed;
    height: 250px;
    width: 250px;
}
.tipo{
    top: -300px;
}


.slide-image {
    width: 150px;
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: -100px;
}

.slide-image2 {
    width: 250px;
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: -170px;
}
ion-card-header {
    position: relative;
    top: -50px;
}

ion-card-content {
    position: relative;
    top: -50px;
    height: 100px;
    text-align: justify;
}

.avatar {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.btn-continuar{
    margin-top: 15px;
}