
.slide-full {
    height: 100% !important;
   
}
.img-1 {
    overflow: unset !important;
    position: fixed;
    height: 550px;
    width: 450px;
}
button{
    position: absolute;
    top: 90%;
}
label{
    color: black;
}
.btn-continuar{
    margin-top: 650px;
}
.pregunta{
    color: black !important;
}
.numero1{
    top:20%;
    left: 10%;
    width: 50px;
    height: 50px;
}
.tipo1{
    top:25%;
    left: 20%;
    width: 65px;
    height: 65px;
}
.tipo2{
    top:64%;
    left: 67%;
    width: 65px;
    height: 65px;
}
.numero2{
    top:74%;
    left: 78%;
    width: 50px;
    height: 50px;
}


//Segunda Pesataña

.info {
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
  }
.slide-full {
    height: 100% !important;
    position: relative;
  //  background-image: linear-gradient(to bottom, #051937, #0d3053, #144971, #19648f, #1d80ac);
}
.label{
    color: #fff;
}
.ion-card {
    overflow: unset !important;
    background: #845899;
}

.ion-card {
    position: fixed;
    height: 300px;
    width: 300px;
    
}
.tipo{
    top: -300px;
}
.slide-image2 {
    
    width: 200px !important;
    text-align: center !important;

    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;

    position: relative !important;
    top: -200px !important;
}

.ion-card-header {
    position: relative;
    top: -50px;
}

.ion-card-content {
    position: relative;
    top: -50px;
    height: 100px;
    text-align: justify;
}


.btn-continuar{
    margin-top: 15px;
}
