
.slide-full {
    height: 100% !important;
   
}
ion-img {
    overflow: unset !important;
    position: fixed;
    height: 550px;
    width: 450px;
}
button{
    position: absolute;
    top: 90%;
}
label{
    color: black;
}
.btn-continuar{
    margin-top: 650px;
}
.pregunta{
    color: black !important;
}
.numero1{
    top:19%;
    left: 9%;
    width: 50px;
    height: 50px;
}
.tipo1{
    top:25%;
    left: 13%;
    width: 75px;
    height: 75px;
}
.tipo2{
    top:66%;
    left: 70%;
    width: 75px;
    height: 75px;
}
.numero2{
    top:76%;
    left: 80%;
    width: 50px;
    height: 50px;
}


