<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" color="texto"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize"><label>Inicio</label></ion-title>
    <ion-button slot="end" (click)="modal()" fill="clear">
      <ion-icon color="texto" slot="icon-only" name="information-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content color="mycolor2">
  <app-carga *ngIf="!ocultarSlider"></app-carga>
  <ion-slides pager="ios" class="slide-full" *ngIf="ocultarSlider">
    <ion-slide>

      <ion-img [src]="imagen" style="top: -200;"></ion-img>
        <ion-card-header>
          <ion-card-subtitle style="margin-top: -100px;"> <label>
              <h2>{{jugadorActual.nombre}}</h2>
            </label></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content style="padding-left: 20%; padding-right: 20%;">
          <label class="pregunta">
            <h2 style="font-weight: bold;">{{PreguntaActual.texto}}</h2>
          </label>
        </ion-card-content>

    </ion-slide>
    <button (click)="jugar()" style="width: 75%;left: 13%;"  class="btn-3d">
      Siguiente
    </button>
  </ion-slides>


</ion-content>