<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="texto"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" text-center><label>Traguito Caliente</label></ion-title>
  
  </ion-toolbar>
</ion-header>
<ion-content color="mycolor2">
  <app-carga *ngIf="!ocultarSlider"></app-carga> 
  <ion-slides pager="ios" class="slide-full" *ngIf="ocultarSlider && !final">
    <ion-slide>

      <ion-img [src]="imagen" style="top: -200;"></ion-img>
      <div style="text-align: center;">
        <ion-card-header>
          <ion-card-subtitle style="margin-top: -90px;"> <label>
              <h2 style="font-weight: bold;">{{jugadorActual.nombre}}</h2>
            </label></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content style="padding-left: 20%; padding-right: 20%; text-align: justify;">
          <label class="pregunta">
            <h2 style="font-weight: bold;">{{PreguntaActual.texto}}</h2>
          </label>
        </ion-card-content>
      </div>
    </ion-slide>
    <button (click)="jugar()" style="width: 75%;left: 13%;"  class="btn-3d">
      Siguiente
    </button>
  </ion-slides>
  <ion-slides pager="ios" class="slide-full" *ngIf="final" [options]='slideOpts'>
    <ion-slide>

      <ion-img [src]="imagen" style="top: -200;"></ion-img>
      <div style="text-align: center;">
        <ion-card-header>
          <ion-card-subtitle style="margin-top: -90px;"> <label>
              <h2 style="font-weight: bold;">Fin del juego</h2>
            </label></ion-card-subtitle>
        </ion-card-header>
     <ion-card-content>
      
      <button (click)="reiniciarJuego()" style="left: 0%;" class="btn-3d">
        Reiniciar
      </button>
     </ion-card-content>
       
      </div>
    </ion-slide>
    
  </ion-slides>

</ion-content>