<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button menu="menu-main" color="texto"></ion-menu-button>
    </ion-buttons>
    <ion-title color="texto">¿Te Atreves?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-border" color="mycolor2">
<ion-grid fixed class="ion-text-center">
  <ion-row class="ion-text-center">
    <ion-col size="12" size-lg="3" size-md="4" size-sm="6" *ngFor="let c of componentes" >
        <ion-card (click)="CambiarVentana(c.name)" style="background-color: #845899;"> 
          <ion-img  [src]="c.img"></ion-img>
        </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
