ion-grid{
    width: 100%;
    height: 100%;
  //  position: relative;
}
ion-row{
     height: 10%;
     width: 100%; 
     margin-top: 5px;
     justify-content: center;
}
ion-col{
    width: 100%;
    text-align: center;
}
ion-img{
    width: 100%;
    height: 100%;
}
