<ion-slides pager="ios" class="slide-full"  [options]="slideOpts">
  <ion-slide>
  
   <ion-card mode="ios">
     <ion-img src="/assets/img/icon.png" style="width: 200px" class="rotacion"></ion-img>
     <ion-card-header>
       <ion-card-subtitle style="margin-top: -100px;"> <label ><h2>Cargando...</h2></label></ion-card-subtitle>
     </ion-card-header>
     <ion-card-content  style="margin-top: -50px;">
      <label ><h2> Espere por favor</h2></label>
     </ion-card-content>
   </ion-card>
  </ion-slide>
</ion-slides>