<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" color="texto"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize"><label>Inicio</label></ion-title>
    <ion-button slot="end" (click)="modal()" fill="clear">
      <ion-icon color="texto" slot="icon-only" name="information-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content color="mycolor2">
  <!-- <app-carga *ngIf="!ocultarSlider"></app-carga> -->

  <img src="assets/img/tituloCirculo.png" style="height: 100px; position: absolute; left: 35%; top: 3%;">
  <div class='circle-container'>
    <a class='center'><img [src]='centro'></a>
    <a class='deg0'><img [src]='carta'></a>
    <a class='deg45'><img [src]='carta'></a>
    <a class='deg135'><img [src]='carta'></a>
    <a class='deg180'><img [src]='carta'></a>
    <a class='deg225'><img [src]='carta'></a>
    <a class='deg315'><img [src]='carta'></a>


  </div>

</ion-content>