.circle-container { 
    top:20%;
    position: relative; 
    width: 24em; 
    height: 24em; 
    padding: 2.8em; 
    border: dashed 1px; 
    border-radius: 50%; 
    margin: 1.75em auto 0; 
} 
.circle-container a { 
    display: block; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    width: 4em; 
    height: 4em; 
    margin: -2em; 
}
.center{
    width: 50%;
}
.circle-container img { 
    display: block; 
    width: 100%; 
} 
.deg0 { 
    transform: rotate(0deg) 
    translate(10em) 
    rotate(90deg);     
 }  
.deg45 { 
     transform: rotate(45deg) 
     translate(10em)  
     rotate(-45deg); 
    } 
.deg135 { 
    transform: rotate(135deg) 
    translate(10em) 
    rotate(-135deg); 
} 
.deg180 { 
    transform: rotate(180deg) 
    translate(10em) 
    rotate(90deg);
} 
.deg225 { 
    transform: rotate(225deg) 
    translate(10em) 
    rotate(-225deg); 
} .deg315 { 
    transform: rotate(315deg) 
    translate(10em) 
    rotate(-315deg); 
}
