/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//Mis CssGlobales
.btn-3d {
    padding: .6rem 1rem;
    border: 1px solid #a511ad;
    border-radius: 4px;
    background: #a511ad;
    color: #fff;
    font-size: 1.5rem;
    width: 100%;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
      0 1px 3px rgba(0,0,0,.2);
  }
  
  .btn-3d:hover, .btn-3d:focus {
    border: 1px solid #60157a;
    background-color: #60157a;
  }
  ion-card{
    background: #845899  !important;
  }
  
  .btn-3d:active {
    background-color: #60157a;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2) inset;
  }

  .btn-icon {
    padding: .6rem 1rem;
    border: 0px solid #59419f;
    border-radius: 4px;
    background:var(--ion-color-mycolor2);
    color: #fff;
    font-size: 1.5rem;
  }
  //@at-root
  ion-content{
    background-image: linear-gradient(to bottom, #051937, #0d3053, #144971, #19648f, #1d80ac) !important;
  }



