ion-img,.cont-img{
        height: 150px;
        width: 150px;
        
}

    ion-button{
        outline:none;
    }
    ion-col{
        justify-content: center;
    }
    ::placeholder { 
        color: #B3A9A7;
    }
    .myinput{
        background:#a511ad;
        height: 50px;
        width: 100%;
        color: #fff;
        text-align: center;
        font-size: 40px;
        text-shadow:  0 -1px 0 rgba(0,0,0,.5);;
    }