
.slide-full {
    height: 100% !important;
    //background-image: linear-gradient(to bottom, #051937, #0d3053, #144971, #19648f, #1d80ac);
}
ion-img {
    overflow: unset !important;
    position: fixed;
    height: 550px;
    width: 450px;
}
button{
    margin-top: 100px;
}
label{
    color: black;
}
.btn-continuar{
    margin-top: 650px;
}