<ion-content>
  <ion-slides pager="ios" class="slide-full"  [options]="slideOpts">
    <ion-slide>
     <ion-card mode="ios">
       <ion-img [src]="imagen" class="slide-image"></ion-img>
      
       <ion-card-content>
       Aqui se mostraran las preguntas
       </ion-card-content>
       <ion-img [src]="imagen" class="slide-image2"></ion-img>
     </ion-card>
     <ion-button (click)="cerrarModal()" expand="block" class="btn-continuar">
      Siguiente
    </ion-button>
    </ion-slide>
    
  
  </ion-slides>
  
</ion-content>
