
.slide-full {
    height: 100% !important;
   
}
ion-img {
    overflow: unset !important;
    position: fixed;
    height: 550px;
    width: 450px;
}
button{
    position: absolute;
    top: 90%;
}
label{
    color: black;
}
.btn-continuar{
    margin-top: 650px;
}
.pregunta{
    color: black !important;
}