<!--<ion-content color="mycolor2" class="ion-padding">
  <ion-slides pager="ios" class="slide-full"  [options]="slideOpts">
    <ion-slide>

       <ion-img [src]="imagen"></ion-img>
      
       <ion-card-content style="padding-left: 20%; padding-right: 20%;">
      <label class="pregunta"><h2 style="font-weight: bold;">{{mensaje}}</h2></label>
       </ion-card-content>
   
    </ion-slide>
    <button (click)="cerrarModal()" expand="block" class="btn-3d">
      Siguiente
    </button>
  
  </ion-slides>

</ion-content>
-->