<ion-header>
  <ion-toolbar color="mycolor" style="text-align: center;">
    
    <ion-title class="ion-text-capitalize"><label>Información</label></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="mycolor2">  <ion-slides pager="ios" class="slide-full">
  <ion-button class="info" slot="icon-only" >
    <ion-icon slot="start" name="information-circle"></ion-icon>
  </ion-button>
  <ion-slide>
  
   <ion-card mode="ios">
   
     <ion-img [src]="imagen" class="slide-image"></ion-img> 
     
     <ion-card-header >
     </ion-card-header>
     <br>
     <ion-card-content  style=" margin-top: -170px;" >
      <label >  <h3>Información</h3></label>
     </ion-card-content>
     <br>
      <button expand="block" (click)="cerrar()"  style="margin-top: 130px;"  class="btn-3d">Entendido!</button>
   </ion-card> 
  </ion-slide>
</ion-slides>
</ion-content>

